APK/healthcheck-http/healthcheck
APK/healthcheck-http/healthcheck-http
APK/healthcheck-sql/healthcheck-mysql
APK/healthcheck-sql/healthcheck-sql
APK/healthcheck-fcgi/healthcheck-fcgi

*/packages/
*.tar
melange.rsa
melange.rsa.pub


APK/*/packages/
issue-reporter/issue-reporter
issue-reporter/report
melange-ci.rsa
